# Environnement virtuel
env/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Base de données locale
*.db

# Logs
*.log

# Dossiers IDE
.vscode/
.idea/

# Fichiers temporaires
*.tmp
*.swp
